/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

p, h1, h2, h3, h4, h5, h6{
  font-family: 'Source Sans Pro', sans-serif;
}

.blockquote > *{
    font-family: 'Dancing Script', cursive;
    font-size:xx-large;
}

/* Ocean colour scheme form light to dark
E0F7FA
00B2D1
008CBA
005B99
002D5B */
.dark{
    background-color: #002D5B;
}
.dark-text{
    color: #002D5B;
}

.deep{
    background-color: #005B99;
}
.deep-text{
    color: #005B99;
}

.mid{
    background-color: #008CBA;
}
.mid-text{
    color: #008CBA;
}

.surface{
    background-color: #00B2D1;
}
.surface-text{
    color: #00B2D1;
}

.sky{
    background-color: #E0F7FA;
}
.sky-text{
    color: #E0F7FA;
}

/* Header */
.hero-part-2{
    font-weight: bold;
}

/* Main */

/* Section */
section{
    flex: 1 0 auto;
}

.bold-icon {
    font-weight: bold;
    font-size: 1.2em; /* Adjust the size as needed */
}
  
.tick-icon {
    color: #008CBA;
}
  
.cross-icon {
    color: #002D5B;
}

.btn-card{
    background-color: #002D5B;
    color: #E0F7FA;
    cursor: pointer;
}

.btn-card:hover{
    background-color: #E0F7FA;
    color: #002D5B;
    border: #002D5B solid 2px;
}

ul li {
    margin-bottom: 15px; /* Adjust the value as needed */
  }

/* Footer */
footer i.bi{
    color: #E0F7FA;
}